<%- include ./partials/_header %>

<body>
    <div class="uk-position-relative">

        <nav class="uk-navbar-container" uk-navbar="dropbar: true">

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li>
                        <a id="logo" href=""></span></a>
                    </li>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Explore</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Home</a></li>
                                <li class="uk-nav-header">Explore</li>
                                <li><a href="/categories">Categories</a></li>
                                <li><a href="/recipes">Recipes</a></li>
                                <li class="uk-nav-divider"></li>
                                <% if (user) { %>
                                <li><a href="#"></a>Logged in as <%= user.name %></li>
                                <li><a href="/recipes/new">Create a New Recipe</a></li>
                                <li><a href="/recipes/myrecipes">My Recipes</a></li>
                                <li><a href="/logout">Logout</a></li>
                                <% } else { %>
                                <li><a href="/auth/google">Log In</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="uk-navbar-dropbar"></div>

    </div>

    <div id="container">
    <div id="<%= heroId %>" class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top"
        uk-parallax="bgy: -300">

        <h1 class="uk-width-1-1@s uk-text-center uk-margin-auto uk-margin-auto-vertical"
            uk-parallax="y: 100,0">Per Se</h1>
        <h2 class="uk-width-1-1@s uk-text-center uk-margin-auto uk-margin-auto-vertical"
            uk-parallax="y: 100,0"><span uk-icon="icon: heart"></span>Become Empowered to Cook with Heart<span
                uk-icon="icon: heart"></span></h2>
    </div>
    <div class="uk-flex break"></div>
    <div id="sign-up" class="uk-flex">
        <div class="uk-width-1-1@s uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <h2>
                Log in now to post and share recipes with the enitre community!
            </h2>
            <a href="/auth/google"><button class="uk-button uk-button-default">LOG IN</button></a>
        </div>
    </div>

    <div class="uk-flex break"></div>
    <div id="call-to" class="uk-flex">
        <div class="uk-child-width-1-3@m uk-grid">
            <% if (recipes) { %>
                <% recipes.forEach(function(r) { %>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="<%= r.imgUrl %>" alt="<%= r.name %>">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a href="/recipes/<%= r._id %>"><%= r.name %></a></h3>
                        <h5><%= r.authorName %></h5>
                        <h5><a href="/categories"><%= r.category %></a></h5>
                        <p><%= r.description %></p>
                    </div>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <p>Please add some of your favorite recipes!</p>
            <% } %>
        </div>
     </div>   


    <%- include ./partials/_footer %>