<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179518691-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-179518691-1');
  </script>

</head>

<body>
  <div class="uk-position-relative">

    <nav class="uk-navbar-container" uk-navbar="dropbar: true">

      <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
          <li>
            <a id="logo" href=""></a>
          </li>
      </div>

      <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
          <li>
            <a href="#">Explore</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">My Recipes</a></li>
                <li class="uk-nav-header">Explore</li>
                <li><a href="/">HOME</a></li>
                <li><a href="/recipes/categories">Categories</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li class="uk-nav-divider"></li>
                <% if (user) { %>
                <li><a href="#">Logged in as <%= user.name %></a></li>
                <li><a href="/recipes/new">Create a New Recipe</a></li>
                <li><a href="/recipes/myrecipes">My Recipes</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/google/oauth"></a>Log In</li>
                <% } %>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </nav>

    <div class="uk-navbar-dropbar"></div>

  </div>
  <div id="myRecipe-hero" class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top"
    uk-parallax="bgy: -200">

    <h1 class="uk-width-1-1@s uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="y: 100,0">
      <%= user.name %>'s Current Recipes</h1>

  </div>
  <div class="uk-flex break"></div>

  <div id="call-to" class="uk-flex">
    <div class="uk-child-width-1-3@m" uk-grid>
      <% if (recipes) { %>
      <% recipes.forEach(function(r) { %>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="<%= r.imgUrl %>" alt="<%= r.name %>">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title"><a href="/recipes/<%= r._id %>"><%= r.name %></a></h3>
            <h5><%= r.authorName %></h5>
            <h5><a href="/recipes/categories/<%= r.category %>"><%= r.category %></a></h5>
            <p><%= r.description %></p>
            <br>
            <hr>
            <a class="uk-button uk-button-primary" href="/recipes/<%= r._id %>/edit">Edit this recipe</a>

            <br>
            <hr>
            <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">

              <button class="uk-button uk-button-primary" type="submit">DELETE!</button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <p>Please add some of your favorite recipes!</p>
      <% } %>
    </div>
  </div>
  <div class="uk-flex break"></div>

  <%- include('../partials/_footer') %>